.ez5-zooniverse-importer-modal {
	padding: 0px;
}

.ez5-zooniverse-importer-list {
	padding: 20px;
}

.ez5-zooniverse-importer-log-label {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ez5-zooniverse-importer-log-label p {
	white-space: break-spaces;
}

.ez5-zooniverse-batch-selector {
	margin-left: 5px;
}
